.login-page {
  min-width: 1050px;
  margin: 90px 0 60px 0;
  background-color: #fff;

  .title {
    margin: 0 0 30px 0;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  form {
    width: 320px;
    margin: 0 auto;

    .storybook-input {
      &:nth-child(1) {
        margin: 0 0 17px 0;
      }
    }

    .find {
      display: flex;
      justify-content: flex-end;
      margin: 13px 0 0 0;
      font-size: 13px;

      .quarter {
        width: 1px;
        height: 10px;
        margin: 0 6px;
        background-color: #333;
      }
    }
  }

  .btn-wrapper {
    margin: 28px 0 0 0;

    button {
      &:nth-child(1) {
        margin: 0 0 10px 0;
      }
    }
  }
}
