@import "../../Root";

.storybook-field {
  display: flex;
  width: 640px;

  & .left {
    padding: 12px 0 0 0;
    width: 21.71875%;
  }
  & .center {
    flex: 1;
  }

  & .right {
    width: 120px;
    margin: 0 0 0 8px;
  }
  & .description {
    margin: 10px 0 0 0;
    font-size: 12px;
    line-height: 18px;
    color: $text5;
  }
}

