.storybook-field {
  display: flex;
  width: 640px;

  & .left {
    padding: 12px 0 0 0;
    width: 21.71875%;
  }
  & .center {
    flex: 1;
  }
  & .right {
    width: 18.75%;
    margin: 0 0 0 8px;
  }
}