@import "../Root.scss";

.storybook-button {
  font-weight: 500;
  border: 1px solid $primary1;
  border-radius: 3px;
  cursor: pointer;

  &:disabled {
    background-color: $primary2;
    border: none;
  }
}

.storybook-button--primary {
  color: #fff;
  background-color: $primary1;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
