.storybook-modal {
  &.--default {}
  &.--popup {  
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 530px;
    height: 569px;
    border: 1px solid #ccc;
  }
}