.storybook-modal {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  transition: background-color .1s;
  background: rgba(0,0,0,.4);

  &.hide {
    display: none;
  }

  & .inner {
    z-index: 3;
    width: 360px;
    background: #fff;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.5px;
    border-radius: 6px;

    & .content {
      padding: 40px 30px;
    }

    & .confirm {
      cursor: pointer;
      height: 56px;
      border-top: 1px solid rgb(247, 247, 247);

      & button {
        border: none;
        height: 100%;
      }

    }
  }
}