.storybook-form-modal_overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.4);

  &.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 100ms ease;
  }

  &.ReactModal__Overlay--after-open {
    opacity: 1;
  }

  &.ReactModal__Overlay--before-close {
    opacity: 0;
  }

  & .inner {
    width: 360px;
    background: #fff;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.5px;
    border-radius: 6px;

    & .content {
      padding: 40px 30px;
    }

    & .confirm {
      cursor: pointer;
      height: 56px;
      border-top: 1px solid rgb(247, 247, 247);

      & button {
        border: none;
        height: 100%;
      }
    }
  }
}
