$primary1: rgb(95, 0, 128);
$primary2: rgb(221, 221, 221);
$primary3: rgb(51, 51, 51);
$border1: $primary2;
$border2: $primary3;
$text1: $primary3;
$text2: rgb(153, 153, 153);
$text3: rgb(238, 106, 123);

html, button, input select, textarea {
  font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
}