@import '../../Root';

.storybook-check {
  & > label {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    vertical-align: top;
    line-height: normal;
    color: $primary3;
    padding: 0px;
    font-size: 14px;
  }

  input {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0px, 0px, 0px, 0px);
  }

  .content {
    margin: 0 0 0 12px;
  }

  .outer-checkbox {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 24px;
    min-height: 24px;

    &.radio {
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid $primary2;

      &.selected {
        background-color: $primary1;
        .inner-checkbox {
          width: 10px;
          height: 10px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          background-color: #fff;
        }
      }
    }

    &.check {
      svg {
        width: 24px;
        height: 24px;
        color: $primary2;

        &.selected {
          color: $primary1;
        }
      }
    }
  }
}
